@use "../../main.scss" as v;

.custom {
  background-color: v.$color-neutral;
  padding: 2rem;
  h1 {
    font-style: oblique;
    color: v.$color-purple;
  }

  .custom-div {
    background-color: v.$color-light-purple;
    margin: 0 auto;
    width: 85%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 2rem;

    h1 {
      font-family: v.$font-title;
      text-align: center;
    }
    p {
      font-family: v.$font-body;
      font-size: 1.1rem;
      text-align: center;
    }

    .custom-div-list {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
    }
    .custom-div-list li {
      font-family: v.$font-body;
      border-radius: 1rem;
      padding: 0.5rem;
      background-color: v.$color-neutral;
      color: v.$color-purple;
      font-weight: bolder;
      font-size: 0.9rem;
      text-align: center;
    }

    .custom-div-button {
      padding: 0.8rem;
      margin-top: 0.5rem;
      border-radius: 1.5rem;
      background-color: v.$color-purple;
      color: white;
      font-family: v.$font-title;
      letter-spacing: 0.1rem;
      border: none;
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}