$color-pink:#F48FB1;
$color-purple:#7B1FA2;
$color-green:#77BE79;
$color-neutral:#f6eaf1;
$color-light-purple:#e6d2ea;
$font-title: 'Playfair Display', serif;
$font-body: 'Comfortaa', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: $color-neutral;
}