@use "../../main.scss" as v;

.nav-button {
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-family: v.$font-body;
  font-weight: bolder;
  border: none;
  &:hover{
  cursor: pointer;
}
}

//whatsapp
.nav-button-whatsapp {
  background: linear-gradient(135deg, #25d366 0%, #128c7e 100%);
  color: white;
}

//instagram
.nav-button-instagram {
  background: linear-gradient(
    45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
  color: white;
}

//facebook
.nav-button-facebook {
  background: linear-gradient(135deg, #1877f2 0%, #0d5ba1 100%);
  color: white;
}
